.project {
  display: grid;
  grid-template-columns: 0.4fr 1fr 0.8fr;
  div {
    border: 1px solid #bcb8b1;
  }
  height: 80vh;
  .search-result {
    overflow-y: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.header {
  height: 100px;
  position: relative;
}
.filter {
  padding-left: 20px;
  padding-right: 20px;
}
ul.items {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0px;
  margin: 10px 0 10px 0;
  padding-left: 0;
  margin-left: 25.5%;

  li {
    text-decoration: none;
    padding: 5px;
  }
}
ul {
  list-style: none;
  padding: 0;
  li {
    text-decoration: none;
  }
}
span {
  margin-left: 10px;
}

.restaurant {
  cursor: pointer;
  .restaurant-items {
    display: flex;
    position: absolute;
    left: 0;
    border: 1px solid black;
    background-color: #fff;
    border-radius: 0 20px 0 20px;
    margin-top: 5px;
    div {
      display: none;
      padding-left: 5px;
      padding-right: 5px;
      li {
        padding: 5px;
        cursor: pointer;
        &:hover {
          color: red;
        }
      }
    }
  }
  &:hover {
    .restaurant-items {
      div {
        display: block;
      }
    }
  }
}
