<div class="header">
  <app-header
    (itemType)="yelpDataOutput($event)"
    (place)="cityName($event)"
  ></app-header>
  <ul class="items">
    <li class="restaurant">
      Restaurant <i class="fas fa-angle-down"></i>
      <ul class="restaurant-items">
        <div class="">
          <li><i class="fas fa-biking"></i><span>Delivery</span></li>
          <li><i class="fas fa-hamburger"></i><span>Citizens</span></li>
          <li><i class="fas fa-cocktail"></i><span>Chinese</span></li>
          <li><i class="fas fa-pizza-slice"></i><span>Italian</span></li>
        </div>
        <div>
          <li>
            <i class="far fa-calendar-check"></i><span>Reservations</span>
          </li>
          <li><i class="fas fa-bread-slice"></i><span>Japanese</span></li>
          <li><i class="fas fa-hotdog"></i><span>Mexican</span></li>
          <li><i class="fas fa-fish"></i><span>Thai</span></li>
        </div>
      </ul>
    </li>
    <li>Craft Services <i class="fas fa-angle-down"></i></li>
    <li>Around the Car <i class="fas fa-angle-down"></i></li>
    <li>More <i class="fas fa-angle-down"></i></li>
  </ul>
</div>

<div class="project">
  <div class="filter">
    <app-filter
      [category]="category$ | async"
      (filterText)="filterFunction($event)"
    >
    </app-filter>
  </div>
  <div class="search-result">
    <app-search-result [searchResult]="data$ | async"></app-search-result>
  </div>
  <div class="map">
    <app-map [searchResult]="data$ | async"></app-map>
  </div>
</div>
