<div class="header">
  <app-header
    (itemType)="yelpDataOutput($event)"
    (place)="cityName($event)"
    [menuList]="menuList$ | async"
  ></app-header>
  <ul class="items">
    <li class="restaurant">
      Restaurant <i class="fas fa-angle-down"></i>
      <ul class="restaurant-items">
        <div>
          <li>
            <i class="fas fa-biking"></i
            ><span (click)="menuFxn('Delivery')">Delivery</span>
          </li>
          <li>
            <i class="fas fa-hamburger"></i
            ><span (click)="menuFxn('Citizens')">Citizens</span>
          </li>
          <li>
            <i class="fas fa-cocktail"></i
            ><span (click)="menuFxn('Chinese')">Chinese</span>
          </li>
          <li>
            <i class="fas fa-pizza-slice"></i
            ><span (click)="menuFxn('Italian')">Italian</span>
          </li>
        </div>
        <div>
          <li>
            <i class="far fa-calendar-check"></i
            ><span (click)="menuFxn('Reservations')">Reservations</span>
          </li>
          <li>
            <i class="fas fa-bread-slice"></i
            ><span (click)="menuFxn('Japanese')">Japanese</span>
          </li>
          <li>
            <i class="fas fa-hotdog"></i
            ><span (click)="menuFxn('Mexican')">Mexican</span>
          </li>
          <li>
            <i class="fas fa-fish"></i
            ><span (click)="menuFxn('Thai')">Thai</span>
          </li>
        </div>
      </ul>
    </li>
    <li class="craft-service">
      Craft Services <i class="fas fa-angle-down"></i>
      <ul class="craft-service-list">
        <div>
          <li>
            <i class="fas fa-hammer"></i
            ><span (click)="menuFxn('Construction Company')"
              >Construction company</span
            >
          </li>
          <li>
            <i class="fas fa-plug"></i
            ><span (click)="menuFxn('Electrician')">Electrician</span>
          </li>
          <li>
            <i class="fas fa-hands-wash"></i
            ><span (click)="menuFxn('Cleaning company')">Cleaning company</span>
          </li>
          <li>
            <i class="fas fa-fire-alt"></i
            ><span (click)="menuFxn('Heating and air conditioning')"
              >Heating & air conditioning</span
            >
          </li>
        </div>
        <div>
          <li>
            <i class="fas fa-mountain"></i
            ><span (click)="menuFxn('Landscaping')">Landscaping</span>
          </li>
          <li>
            <i class="fas fa-user-lock"></i
            ><span (click)="menuFxn('Locksmiths')">Locksmiths</span>
          </li>
          <li>
            <i class="fas fa-truck-moving"></i
            ><span (click)="menuFxn('Moving company')">Moving company</span>
          </li>
          <li>
            <i class="fas fa-shower"></i
            ><span (click)="menuFxn('Installers')">Installers</span>
          </li>
        </div>
      </ul>
    </li>
    <li class="around-the-car">
      Around the Car <i class="fas fa-angle-down"></i>
      <ul class="around-the-car-list">
        <div>
          <li>
            <i class="fas fa-wrench"></i
            ><span (click)="menuFxn('Auto repair shop')">Auto repair shop</span>
          </li>
          <li>
            <i class="fas fa-tools"></i
            ><span (click)="menuFxn('Car preparation')">Car preparation</span>
          </li>
          <li>
            <i class="fas fa-leaf"></i
            ><span (click)="menuFxn('plant shop and body shop')"
              >Plant shop & body shop</span
            >
          </li>
          <li>
            <i class="fas fa-car"></i
            ><span (click)="menuFxn('Car wash')">Car wash</span>
          </li>
        </div>
        <div>
          <li>
            <i class="fas fa-key"></i
            ><span (click)="menuFxn('Car dealer')">Car dealer</span>
          </li>
          <li>
            <i class="fas fa-oil-can"></i
            ><span (click)="menuFxn('Oil change')">Oil change</span>
          </li>
          <li>
            <i class="fas fa-parking"></i
            ><span (click)="menuFxn('Parking spaces')">Parking spaces</span>
          </li>
          <li>
            <i class="fas fa-truck-monster"></i
            ><span (click)="menuFxn('Towing service')">Towing service</span>
          </li>
        </div>
      </ul>
    </li>
    <li class="more">
      More <i class="fas fa-angle-down"></i>
      <ul class="more-list">
        <div>
          <li>
            <i class="fas fa-pump-soap"></i
            ><span (click)="menuFxn('Chemical cleaning')"
              >Chemical cleaning</span
            >
          </li>
          <li>
            <i class="fas fa-mobile-alt"></i
            ><span (click)="menuFxn('Mobile phone repair')"
              >Mobile phone repair</span
            >
          </li>
          <li>
            <i class="fas fa-glass-cheers"></i
            ><span (click)="menuFxn('Bars')">Bars</span>
          </li>
          <li>
            <i class="fas fa-beer"></i
            ><span (click)="menuFxn('Nightlife')">Nightlife</span>
          </li>
        </div>
        <div>
          <li>
            <i class="fas fa-soap"></i
            ><span (click)="menuFxn('Hairdressers')">Hairdressers</span>
          </li>
          <li>
            <i class="fas fa-dumbbell"></i
            ><span (click)="menuFxn('Gyms')">Gyms</span>
          </li>
          <li>
            <i class="fas fa-hot-tub"></i
            ><span (click)="menuFxn('Massages')">Massages</span>
          </li>
          <li>
            <i class="fas fa-shopping-cart"></i
            ><span (click)="menuFxn('Shopping')">Shopping</span>
          </li>
        </div>
      </ul>
    </li>
  </ul>
</div>

<div class="project">
  <div class="filter">
    <app-filter
      [category]="category$ | async"
      (filterText)="filterFunction($event)"
    >
    </app-filter>
  </div>
  <div class="search-result">
    <app-search-result [searchResult]="data$ | async"></app-search-result>
  </div>
  <div class="map">
    <app-map [searchResult]="data$ | async"></app-map>
  </div>
</div>
